@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


.App {
 height: 100%;
}

.App-logo {
  margin: 20px;
  height: 10vmin;
  pointer-events: none;
  display: inline;
}

h1{
  font-family: 'Dancing Script', cursive;
  font-size: 100px!important;
  display: inline

}

.col{
  margin: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url("https://img.freepik.com/free-photo/flat-lay-bakery-composition-with-copyspace_23-2148189396.jpg?w=1800&t=st=1681073676~exp=1681074276~hmac=e066b1b8a2006371dbd3c0bc3c17ba95c07128caaa1b12a1c7c6619c4fcf58ce");
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {display:inline-block;}

#recipeButton{
  background-color: #7ea4b3;
}

#webName{
  margin-top: 100px;
  margin-bottom: 60px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
